.admin-layout {

    display: flex;
    min-height: 100vh;
    background: #f5f6fa;
}

.admin-sidebar {
    width: 240px;
    background: #1e1f26;
    color: #fff;
    padding: 20px;
}

.sidebar-title {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-link {
    color: #d4d4d4;
    margin: 8px 0;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar-link:hover {
    background: #34353d;
    color: #fff;
}

.admin-main {
    flex: 1;
    padding: 30px;
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.management-links h2 {
    margin-bottom: 15px;
}

.link-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.mg-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.25s;
}

.mg-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.18);
}
