.dashboard {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f5f7fb;
    font-family: 'Poppins', sans-serif;
}

.dashboard-content {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}


.welcome-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    flex: 0 0 350px;
}

.dash-title {
    font-size: 28px;
    color: #031e4c;
    margin-bottom: 1rem;
    text-align: center;
}

.user-info p {
    font-size: 16px;
    margin: 10px 0;
}

.welcome-card button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #ff00cc, #3333ff, #ff2600);
    background-size: 200% auto;
    transition: background-position 0.4s;
}

.welcome-card button:hover {
    background-position: right center;
}


.main-content {
    flex: 1;
    padding: 2rem;
}
