

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Scoped page container */
.sup {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif', serif;

    background: linear-gradient(135deg, #85c776, #f3f3f3);


    background-attachment: fixed;
}



.sup{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif', serif;



    background: linear-gradient(135deg, #85c776, #f3f3f3);


    background-size: cover;
    background-attachment: fixed;
}

.reg{
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 20px;
    font-size: 40px;



    letter-spacing: 1px;
    text-transform: uppercase;




    font-weight: 700;
    color: #031e4c;

    font-family: 'Poppins', sans-serif;



}



.container2{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;;
}


.container2 button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #ff00cc, #3333ff, #00f0ff);
    background-size: 200% auto;
    transition: background-position 0.4s;
}

.container2 button:hover {
    background-color: cornflowerblue;
}


.container2 p {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #333;
}


.container2 input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    padding: 12px 10px;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'PT Serif', serif;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
}


.container2 input:focus {
    border-bottom: 2px solid #6a11cb;
}


.container2 input::placeholder {
    color: #6c6b6b;
    font-weight: 400;
}

